#main {
	display: ;
	flex-flow: column;
}

h1{
	text-align: center;
}
.emailContainer {
	display: inline-flex;
	flex-flow: row;
	
}

.senderDiv {
	font-size: 16px;
}

.dateDiv {
	color: red;
	font-size: 12px;

}
.subjectDiv {
	color: blue;
}